.footer {
  background-color: #f3f3f3;
  padding: 60px 40px;
  width: 100%;
  color: #333;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  
}

.footer-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.footer-section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.footer-section p {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-section p:hover {
  color: #ec4899;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.icon-box {
  padding: 8px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.icon-box:hover {
  background-color: #ec4899;
  color: white;
}

.newsletter-input {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #ccc;
  outline: none;
}

.subscribe-btn {
  padding: 8px 16px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  width: fit-content;
  height: auto;
}

.subscribe-btn:hover {
  background-color: #ccc;
}

/* Tablet screens */
@media (max-width: 992px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-section h2 {
    font-size: 16px;
  }

  .footer-section p {
    font-size: 14px;
  }
}

/* Mobile screens */
@media (max-width: 600px) {
  .footer {
    padding: 30px 15px;
    text-align: center;  
    width: 100%;
    overflow-x: hidden;
    
  }

  .footer-container {
    grid-template-columns: 2fr; /* stack sections vertically */
    gap: 20px;
  }

  .social-icons {
    justify-content: center;
  }

  .newsletter-input {
    width: 90%;  /* shrink input on mobile */
    margin: 8px auto;
    display: block;
  }

  .subscribe-btn {
    width: 90%; /* full width button for touch */
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

