.main-container{
    width: 40vw;
    height: max-content;
    margin: 20px 25vw;
    align-content: space-between;
    align-items: center;
    gap: 2vw;
    background-color: rgb(248, 243, 243);
}
.left-section h3{
    /* background-color: blue; */
    margin: 10px 15px;
}
.left-section button{
    border-radius: 10%;
    border-style: none;
    margin: 10px 15px;
    padding: 8px 12px;
}
.right-section{
    /* background-color: blueviolet; */
    margin: 12px 5px;
}
.right-section .ubox{
    /* background-color: aliceblue; */
    margin: 10px 12px;
}
.right-section .ubox span{
    margin-top: 20px;
}
.right-section .lbox{
    /* background-color: antiquewhite; */
    margin: 10px 12px;
}
.left-section .bth{
    background-color: rgb(57, 182, 57);
}