.wrapperreg{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  margin-left: 35vw;
  margin-top: 20px;
  margin-bottom:20px;
}
.wrapperreg h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapperreg h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: rgb(245, 233, 235);
}
.row2{
  display: inline-flexbox;
}
.wrapperreg form{
  margin-top: 30px;
}
.wrapperreg form .inputbox{
  margin-bottom: 8px;
  margin-bottom: 8px;
}
form .inputbox input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.row1{
  width: 100%;
}
.row1 .inputbox{
  width:46%;
  display: inline-block;
}
.row1 .lastbox{
 margin-left: 30px;
}

.row2{
  width: 100%;
}
.row2 .inputbox{
  width:46%;
  display: inline-block;
}
.row2 .contactbox{
  margin-left: 30px;
}

.inputbox input:focus,
.inputbox input:valid{
  border-color: rgb(245, 233, 235); 
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.button button{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: rgb(241, 135, 153);
  cursor: pointer;
  height: 52px;
}
.inputbox.button input:hover{
  background: rgb(241, 135, 153);
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: rgb(241, 135, 153);
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
@media (max-width: 480px) {
  .wrapperreg{
    width:290px;
    margin-left: 2vw;
    margin-top: 13px;
    margin-bottom: 15px;
  }
  .wrapperreg h2{
    font-size: 24px;
    font-weight: 350;
  }
  .wrapperreg .row1 .lastbox{
    margin-left: 22px;
  }
  .wrapperreg .row2 .contactbox{
    margin-left: 22px;
  }
  .wrapperreg h2{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .wrapperreg form{
    margin-top: 10;
  }
  
}
@media (min-width: 800px) {
  .wrapperreg{
    width:600px;
    margin-left: 11rem;
    margin-top: 13px;
    margin-bottom: 15px;
  }
  .wrapperreg .row1 .lastbox{
    margin-left: 21px;
  }
  .wrapperreg .row2 .contactbox{
    margin-left: 21px;
  }

}
@media (min-width: 500px) {
  .wrapperreg{
    width:350px;
    margin-left: 11rem;
    margin-top: 13px;
    margin-bottom: 15px;
  }
   .wrapperreg .row1 .lastbox{
    margin-left: 19px;
  }
  .wrapperreg .row2 .contactbox{
    margin-left: 19px;
  }
}
